.footer_section {
    text-align: center;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}


img {
    width: 130px;
}

p{
    color: #667085;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .footer_section {
        display: none;
    }
}