#profile_img {
  position: relative;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.icon {
  position: absolute;
  top: 0;
  left: 46.5%;
  display: none;
  width: 2rem;
  padding: 28px;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  color: white;
}


#profile_img:hover .icon {
  display: block;
  cursor: pointer;
  opacity: 1;
}

.profile h1 {
  font-size: 20px;
  font-weight: 700;
}

#slack {
  display: none;
}
.blur{
  width: 88px;
  height: 88px;
  
}


@media screen and (max-width: 480px) {
  .icon {
    top: 2px;
    left: 118px;
  }
}
