.share_section {
    margin-top: 30px;
    margin-left: 40rem;
    margin-bottom: 20px;
}

.share_icon {
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    color: #98A2B3;
}



@media screen and (max-width: 768px) {
    .share_icon {
        display: none;
    }
}